<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="" class="navbar-brand" href="#" >KinetixLib <i class="fas fa-book"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']" class="nav-item" *ngFor="let link of links">
        <a class="nav-link" routerLink="{{link.route}}"  >{{link.name}}</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
